table.cache-consistent{width:50%;}table.cache-consistent div.status-icon{width:24px;height:24px;background-color:transparent;}
/*})'"*/
#colorboxNodeLoading{background:url(../../../all/modules/colorbox_node/images/loading.gif) no-repeat center center;width:100%;height:100%;}
/*})'"*/
#comments{margin-top:15px;}.indented{margin-left:25px;}.comment-unpublished{background-color:#fff4f4;}.comment-preview{background-color:#ffffea;}
/*})'"*/
#header-region form.domain-list *{display:block;}
/*})'"*/
.field .field-label{font-weight:bold;}.field-label-inline .field-label,.field-label-inline .field-items{float:left;}form .field-multiple-table{margin:0;}form .field-multiple-table th.field-label{padding-left:0;}form .field-multiple-table td.field-multiple-drag{width:30px;padding-right:0;}form .field-multiple-table td.field-multiple-drag a.tabledrag-handle{padding-right:.5em;}form .field-add-more-submit{margin:.5em 0 0;}
/*})'"*/
#google-cse-results-searchbox-form div,#google-cse-results-searchbox-form input{margin:0;display:inline;}#google-cse-results-searchbox-form .form-radios div{display:block;}
/*})'"*/
div.toboggan-container{text-align:center;}div.toboggan-login-link-container{text-align:left;}div.toboggan-login-link-container a{text-decoration:none;}div.toboggan-block-message{text-align:left;}div.user-login-block{text-align:left;}div.user-login-block a{text-align:left;}.toboggan-unified #login-message{text-align:center;font-size:2em;line-height:1.2;}.toboggan-unified #login-links{text-align:center;font-size:1.5em;line-height:2.7;}.toboggan-unified #login-links a{padding:.5em;border:1px #666 solid;background-color:#EEE;}.toboggan-unified #login-links a:hover{background-color:#DDD;}.toboggan-unified #login-links a.lt-active,.toboggan-unified #login-links a.lt-active:hover{background-color:#FFF19A;border:2px #333 solid;}.toboggan-unified.login #register-form{display:none;}.toboggan-unified.register #login-form{display:none;}
/*})'"*/
.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}td.revision-current{background:#ffc;}
/*})'"*/
#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#permissions tr.odd .form-item,#permissions tr.even .form-item{white-space:normal;}#user-admin-settings fieldset .fieldset-description{font-size:0.85em;padding-bottom:.5em;}#user-admin-roles td.edit-name{clear:both;}#user-admin-roles .form-item-name{float:left;margin-right:1em;}.password-strength{width:17em;float:right;margin-top:1.4em;}.password-strength-title{display:inline;}.password-strength-text{float:right;font-weight:bold;}.password-indicator{background-color:#C4C4C4;height:0.3em;width:100%;}.password-indicator div{height:100%;width:0%;background-color:#47C965;}input.password-confirm,input.password-field{width:16em;margin-bottom:0.4em;}div.password-confirm{float:right;margin-top:1.5em;visibility:hidden;width:17em;}div.form-item div.password-suggestions{padding:0.2em 0.5em;margin:0.7em 0;width:38.5em;border:1px solid #B4B4B4;}div.password-suggestions ul{margin-bottom:0;}.confirm-parent,.password-parent{clear:left;margin:0;width:36.3em;}.profile{clear:both;margin:1em 0;}.profile .user-picture{float:right;margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}
/*})'"*/
#forum .description{font-size:0.9em;margin:0.5em;}#forum td.created,#forum td.posts,#forum td.topics,#forum td.last-reply,#forum td.replies,#forum td.pager{white-space:nowrap;}#forum td.forum .icon{background-image:url(https://www.ox.ac.uk/misc/forum-icons.png);background-repeat:no-repeat;float:left;height:24px;margin:0 9px 0 0;width:24px;}#forum td.forum .forum-status-new{background-position:-24px 0;}#forum div.indent{margin-left:20px;}#forum .icon div{background-image:url(https://www.ox.ac.uk/misc/forum-icons.png);background-repeat:no-repeat;width:24px;height:24px;}#forum .icon .topic-status-new{background-position:-24px 0;}#forum .icon .topic-status-hot{background-position:-48px 0;}#forum .icon .topic-status-hot-new{background-position:-72px 0;}#forum .icon .topic-status-sticky{background-position:-96px 0;}#forum .icon .topic-status-closed{background-position:-120px 0;}
/*})'"*/
.views-exposed-form .views-exposed-widget{float:left;padding:.5em 1em 0 0;}.views-exposed-form .views-exposed-widget .form-submit{margin-top:1.6em;}.views-exposed-form .form-item,.views-exposed-form .form-submit{margin-top:0;margin-bottom:0;}.views-exposed-form label{font-weight:bold;}.views-exposed-widgets{margin-bottom:.5em;}.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid tbody{border-top:none;}.view .progress-disabled{float:none;}
/*})'"*/
